@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

.file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file > input[type='file'] {
    display: none
}

.file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 29%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file > label:hover {
    border-color: hsl(0, 0%, 21%);
}

.file > label:active {
    background-color: hsl(0, 0%, 96%);
}

.file > label > i {
    padding-right: 5px;
}

.file--upload > label {
    color: #6da4ba;
    border-color: #6da4ba;
}

.file--upload > label:hover {
    border-color: #6da4ba;
    background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
    background-color: hsl(204, 86%, 91%);
}