@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

.file {
    margin-top:-150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file > input[type='file'] {
    display: none
}

.file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 29%);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file > label:hover {
    border-color: hsl(0, 0%, 21%);
}

.file > label:active {
    background-color: hsl(0, 0%, 96%);
}

.file > label > i {
    padding-right: 5px;
}

.file--upload > label {
    color: #6da4ba;
    border-color: #6da4ba;
}

.file--upload > label:hover {
    border-color: #6da4ba;
    background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
    background-color: hsl(204, 86%, 91%);
}

.effects-choice-container {
    height: auto;
    border-radius: 5px;
    width: auto;
    text-align: center;
    padding: 10px;
    grid-column: 1/4;
}

.button-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.synth-type {
    height:fit-content;
    width:fit-content;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.synth-selections {
    border-radius: 5px;
    height: fit-content;
    width: 11em;
    justify-items: center;
    align-items: center;
    padding: 8px;
    display: grid;
    grid-template-rows: 2em 2em 10em;
}

.synth-slider-container {
    display: grid;
    grid-template-rows: 3.5em 3.5em;
    font-size: 15px;
    grid-gap: 25px;
    transform: rotate(270deg);
    margin-top: 130px;
    width: 140px;
}

.noise-slider-container {
    display: grid;
    grid-template-columns: 10em;
    font-size: 15px;
    color: #DA22FF;
    transform: rotate(270deg);
    margin-top: 130px;
}

.input[type="range"] {
    -webkit-appearance: none;
    height: 5px;
    width: 120px;
    border-radius: 5px;
    background: #4d4879;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin-bottom: 1.5em;
}

.input2[type="range"] {
    -webkit-appearance: none;
    height: 5px;
    width: 125px;
    border-radius: 5px;
    background: #4d4879;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin-top: 1.5em;
}

.two-col {
    width: 10em;
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}